body{
    display: flex;
    justify-content: center;
  
   
}

.firstbox{
    background-color: black;
    border-radius: 50px;
    height: 83vh;
    width:40vh; 
    position: relative;
    display: flex;
    justify-content: center;
    top: 30px;
    box-shadow: 1px 4px 10px rgb(58, 57, 57);
    
}

.secondbox{
    position: relative;
    top: 14px;
    background-color: whitesmoke;
    height: 79vh;
    width: 37vh;
    border-radius: 37px;
    background-color: rgb(19, 15, 15);
   
}
.upperBox{
    position: relative;
    background-color: black;
    height: 3vh;
    width: 20vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    left: 60px;
    

}

.upperSmallBox{
    position: relative;
    height: 1vh;
    width: 6vh;
    background-color: gray;
    border: none;
    border-radius: 70px;
    left: 53px;
}
.upperCircle{
    position: relative;
    height: 1vh;
    width: 6%;
    background-color: gray;
    border: none;
    border-radius: 100%;
    left: 110px; 
    top: -6px;
}

.volumeUp{
   height: 6vh;
   position: relative;
   background-color: black;
   border: none;
   top: 140px;
   left: 19px;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px; 
   cursor: pointer;

}

.volumeDown{
    height: 6vh;
   position: relative;
   background-color:black;
   border: none;
   top: 190px;
   left: 7px;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px; 
   cursor: pointer;

}

.powerBtn{
    height: 9vh;
    position: relative;
    background-color: black;
    border: none;
    top: 150px;
    right: 8px;
    border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   cursor: pointer;

}

